/UsbSwitch.uvgui.eddie
/UsbSwitch.uvgui_eddie.bak
/context_rvds.lst
/JLinkLog.txt
/JLinkSettings.ini
/startup_stm32f10x_hd.lst
/startup_stm32f10x_md.lst
/UsbSwitch.map
/UsbSwitch_uvproj.bak
/UsbSwitch_UsbSwitch.dep
/UsbSwitch_uvopt.bak
/build
